<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>

    <!-- Server -->
    <services>
      <service name="Server.Service" behaviorConfiguration="_behaviour">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:20248" />
          </baseAddresses>
        </host>

        <endpoint name="test" address="test" binding="netTcpBinding" bindingConfiguration="_netTcp" contract="Shared.IService"/>
        <endpoint name="testmex" address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="_behaviour">
          <serviceMetadata />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="_netTcp">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>